<!DOCTYPE html>
<html>
<head>
    <title>RoflanDB web</title>
    <meta charset="UTF-8"/>
    <link type="text/css" rel="stylesheet" href="node_modules/bulma/css/bulma.css"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="node_modules/vuex/dist/vuex.js"></script>
    <script defer src="node_modules/vue/dist/vue.js"></script>
    <script defer src="node_modules/axios/dist/axios.min.js"></script>
    <script defer src="js/app.js"></script>
</head>

<body>
<div class="tile is-ancestor">
    <div class="tile is-vertical is-12 is-parent">
        <div class="tile is-12 is-parent">
            <div class="container is-child" id="db-form">
    
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Presets</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div class="select is-success">
                                    <select v-model="selectedPreset">
                                        <option v-for="(preset, index) in presets" :value=index>{{preset}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Credentials</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" type="text" v-model="username" placeholder="Username">
                            </p>
                        </div>
                        
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" type="password" v-model="password" placeholder="Password">
                            </p>
                        </div>
                        
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" type="text" v-model="database" placeholder="database">
                            </p>
                        </div>
                        
                    </div>
                </div>
                
                
                <div class="field is-horizontal" id="db-form">
                    <div class="field-label is-normal">
                        <label class="label">Host</label>
                    </div>
                    
                    
                    <div class="field-body">
                        
                        <div class="field is-narrow">
                            <div class="control is-expanded">
                                <div class="select is-primary">
                                    <select v-model="dbType">
                                        <option v-for="(type, index) in dbTypes" :value=index>{{type}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" type="text" v-model="host" placeholder="IP">
                            </p>
                        </div>

                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" type="number" v-model="port" placeholder="port" min="1" max="65535">
                            </p>
                        </div>
                    </div>
                </div>
    
    
            </div>
        </div>
    
        <div class="tile is-12 is-parent">
    
            <div class="container is-child">
                <textarea id="query" class="textarea" placeholder="Enter query..." v-model="query" @@keyup.ctrl.enter="submit"></textarea>
    
                <button v-on:click="submit" id="submit-button" class="button is-success is-fullwidth" :disabled="isLoading">Run query</button>
    
    
                <div v-if="isLoading" id="progress-bar" class="container" v-cloak>
                    <progress class="progress is-info is-large" max="100">45%</progress>
                    <button class="delete" v-on:click="abortRequest"></button>
                </div>
                
                @* error notification *@
                <div class="notification is-danger error-notification" v-cloak v-if="isShowError">
                    <button class="delete" v-on:click="closeNotification"></button>
                    {{errorMessage}}
                </div>
    
                <table id="result-table" v-if="!isLoading" v-cloak class="table is-bordered is-hoverable is-fullwidth">
                    <thead>
                    <th v-for="title in titles">{{title}}</th>
                    </thead>
                    <tbody>
                    <tr v-for="line in data">
                        <td v-for="col in line">{{col}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</body>
</html>