<html>
<head>
    <title>RoflanDB web</title>
    <meta charset="UTF-8"/>
    <link type="text/css" href="node_modules/bulma/css/bulma.css"/>
</head>
<body>

    hehmda
    <script src="node_modules/vuex/dist/vuex.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>